<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"
    href="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/3.11.4/adyen.css"
    integrity="sha384-gTrHdtmLDTaHuDUKM1okZAVgBTwjiI+E66Tz3K71+10Lhd7zxvtUF5lrHc35cNIR"
    crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/site.css" />

    <title>@ViewData["Title"] - Checkout Demo</title>
</head>
<body>
    <header id="header">
      <a href="/">
        <img src="~/images/mystore-logo.svg" alt="logo" />
      </a>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/3.11.4/adyen.js"
     integrity="sha384-r6VzatKWD1SDwT5pfnl6sfkNJYAsTAUlUOO6PEbIhMwWFkPrE28R/8cjAKBp9yCd"
     crossorigin="anonymous" ></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
