@{
    ViewData["Title"] = "Result page: when a payment request is made using a token";
}

<div class="status-container">
  <div class="status">
    <p><b>You have made a payment request on behalf of the shopper. You can find the JSON-response for this payment request below:</b></p>
    <p class="status-message">@ViewBag.Message</p>
    <a class="button" href="/admin">Return</a>
  </div>
</div>
