@{
    ViewData["Title"] = "Adyen Booking Cart";
}
@* Hidden divs with data passed from the server *@
<div id="clientKey" class="hidden">@ViewBag.ClientKey</div>
<div id="type" class="hidden">@ViewBag.PaymentMethod</div>

<div id="payment-page">
    <div class="container">
        @* The Checkout integration type will be conditionally rendered below. *@
        @* Drop-in includes styling out-of-the-box, so no additional CSS classes are needed. *@
        <div class="payment-container">
            <div id="payment" class="payment"></div>
        </div>       
    </div>
</div>

@* Adyen Component client code *@
<script src="~/js/adyenAuthorisationAdjustmentImplementation.js" asp-append-version="true"></script>
