@{
    ViewData["Title"] = "Adyen Pay By Link Home";
}
<div class="main-container">
  <div class="info">
    <h1>Pay By Link Demo</h1>
    <p>Click to view an interactive example of Pay By Link.</p>
    <p>
      Make sure that the payment method you want to use in the payment links are enabled for your account.
      Refer to <a href="https://docs.adyen.com/payment-methods#add-payment-methods-to-your-account">the documentation</a> to add missing payment methods, 
      and <a href="https://docs.adyen.com/unified-commerce/pay-by-link/payment-links/api">how to create your payment links</a>.
    </p>
    <p>To learn more about payment links, check out
        <a href="https://docs.adyen.com/unified-commerce/pay-by-link">Pay By Link</a> in our documentation.
    </p>
  </div>
  <section class="create-pay-by-link">
    <h2>Create a new link</h2>
    <div class="create-new-link">
      Amount: <input type="text" id="amount"/>
      Reference: <input type="text" id="reference"/>
      <button id="create-new-link" class="create-new-link-button">Create</button>
    </div>
  </section>

  <section class="payment-links">
    <h2>Created payment links</h2>
    <!-- Fetch all payment links and show -->
  </section>
</div>
