@using adyen_dotnet_in_person_payments_example.Models;
@{
    ViewData["Title"] = "Adyen Cash Register View";
    string poiId = ViewBag.PoiId;
    string saleId = ViewBag.SaleId;
    List<TableModel> list = ViewBag.Tables;
}

<div class="main-container">
  <div class="info">
    <h2>Cash Register</h2>
    <section class="tables-section">
      <div class="tables-grid">
        <ul class="tables-grid-list">
           @foreach(TableModel table in list)
           {
             <li class="tables-grid-item">
               <p class="tables-grid-item-title">@table.Name</p>
               <div class="tables-grid-item-currency-amount">
                 <p class="tables-grid-item-currency">@table.Currency</p>
                 <p class="tables-grid-item-amount">@table.Amount</p>
               </div>
             </li>
           }
        </ul>
      </div>

      <div class="info-grid">
        <h2>Information</h2>
        <ul class="info-grid-list">
          <li class="info-grid-item">
            <p class="info-grid-item-title">
              SALE ID:
              <b class="info-grid-item-description">
                @saleId
              </b>
            </p>
          </li>
          <li class="info-grid-item">
            <p class="info-grid-item-title">
              POI ID:
              <b class="info-grid-item-description">
                @if (string.IsNullOrWhiteSpace(poiId))
                {
                    poiId = "No POI Id is configured, see AdyenOptions class.";
                }
                @poiId
              </b>
            </p>
          </li>
        </ul>
        <p id="current-selection">Select a table</p>
        <form id="payment-request-form" method="post">
            <input type="text" id="amount" name="amount">
            <input type="text" id="currency" name="currency" hidden>
            <button type="submit" class="payment-request-button">Send Payment Request</button>
        </form>

        <!-- TODO
        <form name="payment-reversal-request-form" method="post">
            <input type="text" id="saleReferencId" hidden">
            <input type="text" id="reversalAmount" hidden>
            <button type="submit" class="payment-reversal-request-button">Send Reversal Request</button>
        </form>
        -->
       </div>
    </section>
  </div>
</div>

<!-- Binds all buttons for the `api/send-payment-request` and `api/send-payment-reversal-request` endpoints -->
<script src="~/js/cashregister-table-grid-item-bindings.js" asp-append-version="true"></script>