@{
    ViewData["Title"] = "Adyen Cash Register View";
}
<main class="preview-page">
  <section class="tables">
    <h2>Pick a table:</h2>
    <div class="tables-grid">
      <ul class="tables-grid-list">
        <li class="tables-grid-item">
          <p class="tables-grid-item-title">Table 1</p>
          <p class="tables-grid-item-price">11.11</p>
        </li>
        <li class="tables-grid-item">
          <p class="tables-grid-item-title">Table 2</p>
          <p class="tables-grid-item-price">22.22</p>
        </li>
      </ul>
    </div>
  </section>
</main>