@{
    ViewData["Title"] = "Adyen Gift Card Dropin Checkout";
}
@* Hidden divs with data passed from the server *@
<div id="clientKey" class="hidden">@ViewBag.ClientKey</div>
<div id="type" class="hidden">@ViewBag.PaymentMethod</div>

<main class="preview-page">
    <section class="cart">
        <div class="container">
            <p>Select the giftcard payment method in the list to make your payment. Giftcard Test card numbers (e.g. 6036280000000000000) can be found on <a href="https://docs.adyen.com/development-resources/testing/test-card-numbers#gift-cards" target="_blank">this page</a>.</p>
        </div>
    </section>
</main>

<div id="payment-page">
    <div class="container">
        @* The Checkout integration type will be conditionally rendered below. *@
        @* Drop-in includes styling out-of-the-box, so no additional CSS classes are needed. *@
        <div class="payment-container">
            <div id="payment" class="payment"></div>
        </div>
    </div>
</div>

@* Adyen Component client code *@
<script src="~/js/adyenDropinImplementation.js" asp-append-version="true"></script>
