@{
    ViewData["Title"] = "Adyen Subscription";
}
@* Hidden divs with data passed from the server *@
<div id="clientKey" class="hidden">@ViewBag.ClientKey</div>
<div id="type" class="hidden">@ViewBag.PaymentMethod</div>

<div id="payment-page">
    <div class="container">
        <div class="payment-container">
            <div id="payment" class="payment"></div>
        </div>
    </div>
</div>

@* The .js file that calls /subscription endpoint *@
<script src="~/js/adyenSubscriptionImplementation.js" asp-append-version="true"></script>
