<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
 
    <link rel="stylesheet"
          href="https://checkoutshopper-live.cdn.adyen.com/checkoutshopper/sdk/6.30.0/adyen.css"
          integrity="sha384-EajIgrs12jE8/4xUJjow1goFTYYeYCTDTot8jZqhspGJWuGtHMsj5b+Vl10oBOf0"
          crossorigin="anonymous"/>

    <script src="https://checkoutshopper-live.cdn.adyen.com/checkoutshopper/sdk/6.30.0/adyen.js"
            integrity="sha384-sioAmEpgV1x5KaMioXOtk8itF68PJZKMWXpzD7wEebjhzn1VZSJ6iMXcG34MlYx0"
            crossorigin="anonymous"></script>
    
    <title>@ViewData["Title"] - Checkout Demo Advanced</title>
</head>
<body>
    <header id="header">
      <a href="/">
        <img src="~/images/mystore-logo.svg" alt="logo" />
      </a>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
@RenderSection("Scripts", required: false)
</body>
</html>
