@{
    ViewData["Title"] = "Adyen In-person Payment Demo";
}

<div class="main-container">
  <div class="info">
    <h1 class="container ls_flex_content align-items-center">
        Adyen Card Acquisition Demo — Loyalty Points
    </h1>
    <p>This demo shows how you can do a card acquisition, save shopper email and shopper reference and save loyalty points.</p>
    <p>Insert documentation links here</p>
  
    <ul class="integration-list">
      <li class="integration-list-item">
        <a asp-area="" asp-controller="Home" asp-action="CashRegister" class="integration-list-item-link">
          <div class="title-container">
            <p class="integration-list-item-title">Card Acquisition + Payment</p>
          </div>
        </a>
      </li>
      <li class="integration-list-item">
        <a asp-area="" asp-controller="Home" asp-action="CashRegister" class="integration-list-item-link">
          <div class="title-container">
            <p class="integration-list-item-title">Card Acquisition + Cancellation</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>