@{
    ViewData["Title"] = "Adyen In-person Payment Demo";
}

<div class="main-container">
  <div class="info">
  </div>
</div>

<section class="hero">
    <h1 class="container ls_flex_content align-content-center align-content-lg-center align-items-center">
        Adyen 💚 Pizza
    </h1>
    <p>An in-person payment <b>Cashier Application</b> that can take your order of delicious pizza. </p>
    <p>What are you waiting for? Take-away today! Buy, buy, BUY!</p>

  <ul class="integration-list">
    <li class="integration-list-item">
      <a asp-area="" asp-controller="Home" asp-action="CashRegister" class="integration-list-item-link">
        <div class="title-container">
          <p class="integration-list-item-title">Order now</p>
        </div>
      </a>
    </li>
  </ul>
</section>
