@{
    ViewData["Title"] = @ViewBag.Status;
}

<div class="status-container">
  <div class="status">
    @{ 
      var svgImg = ViewBag.Img + ".svg";
    }
    <img src="~/images/@svgImg" class="status-image" alt="@ViewBag.Img" />
    @if (ViewBag.Status == "success")
    {
      <img src="~/images/thank-you.svg" class="status-image" alt="" />
    }
    <p class="status-message">@ViewBag.Msg</p>
    @if (ViewBag.Status == "failure")
    {
      <p class="status-message">
      </p>
    }
    <a class="button" href="/" to="#/">Return</a>
  </div>
</div>
