@{
    ViewData["Title"] = @ViewBag.Status;
}
<div class="container">
  <main role="main" class="pb-3">
         
    <div class="status-container">
      <div class="status">
        @{ 
          var svgImg = ViewBag.Img + ".svg";
        }
        <img src="~/images/@svgImg" class="status-image" alt="@ViewBag.Img" />
        @if (ViewBag.Status == "success")
        {
          <img src="~/images/thank-you.svg" class="status-image" alt="" />
        }
        @if (ViewBag.Status == "failure")
        {
          <p class="status-message">@ViewBag.Msg</p>
          <p class="status-message-generic">
            Learn how to resolve Terminal API errors and handle declined payments in <a href="https://docs.adyen.com/point-of-sale/error-scenarios/">our documentation.</a>
          </p>
        }
        else
        {
          <p class="status-message-generic">@ViewBag.Msg</p>
        }
        <a class="button" href="/" to="#/">Return</a>
      </div>
    </div>
  </main>
</div>