/* General page body */
html,
body {
  width: auto;
  margin: 0;
  font-family: "Fakt", sans-serif, Verdana, Arial;
}

h1{
  display: inline-block;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a,
u {
  text-decoration: none;
  color: #0abf53;
}

a:hover {
  text-decoration: none;
  color: #00903a;
}

.hidden {
  display: none;
}

#header {
  background: #fff;
  border-bottom: 1px solid #e6e9eb;
  left: 0;
  padding: 14px 26px;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
}

/* Buttons */

.button {
  background: #00112c;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  padding: 15px;
  text-align: center;
  transition: box-shadow 0.2s ease, transform 0.3s ease;
  width: 100%;
}

.button:hover {
  box-shadow: 0 4px 4px rgba(0, 15, 45, 0.3);
  transform: scale(1.01);
  color: #fff;
}

.button:active {
  background: #3a4a5c;
}

.button:disabled {
  background: #e6e9eb;
  box-shadow: none;
  cursor: not-allowed;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

/* end General page body */

/* Index page */

.main-container {
  flex-direction: column;
  display: flex;
}

.integration-list {
  display: flex;
  justify-content: center;
}

.integration-list-item {
  border-radius: 16px;
  border-color: #0abf53;
  border-style: solid;
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  transition: background 0.2s ease, transform 0.2s ease;
  color: #0abf53;
}

.integration-list-item:hover {
  transform: scale(1.03);
  background: #fff7ea;
}

.integration-list-item-link {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .integration-list-item-link {
    padding: 32px 16px;
  }
}

.integration-list-item-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.integration-list-item-subtitle {
  padding: 4px 12px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  color: #0e0e0e;
  margin: 0;
}

.title-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info {
  margin-top: 2%;
  color: #00112c;
}

/* end Index page */


/* Pizzas-grid start */

.pizzas-section {
  text-align: center;
  display: flex;
  transition: opacity 0.4s ease-in;
}

.pizzas-section.disabled {
  opacity: 0.2; /* Reduce opacity */
  pointer-events: none; /* Disable pointer events on elements */
}

.pizzas-grid-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(120px, 4fr));
  gap: 16px;
  padding: 16px;
  background: #e6e9eb;
  margin: 0px;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 2px solid #0abf53;
}

.pizzas-grid-item {
  border: 1px solid #e6e9eb;
  border-radius: 16px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 4px;
  padding-top: 64px !important;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  min-height: 200px;
  background-image: url('../images/pizza.svg');
  background-size: 40% auto;
  background-repeat: no-repeat;
  background-position: center 16px;
}

.pizzas-grid-item:nth-child(2n) {
  background-color: #f5f5f5;
}

.pizzas-grid-item:nth-child(3n) {
  background-color: #f3f3f3;
}

.pizzas-grid-item:nth-child(4n) {
  background-color: #f1f1f1;
}

.pizzas-grid-item:hover {
  background-color: #fffcbf;
  transform: scale(1.05);
  border-radius: 20px;
}

.pizzas-grid-item.current-selection {
  background-color: #f8deaa !important;
  transform: scale(1.06);
  font-weight: 600;
  color: #fff;
  border-radius: 20px;
  transition: transform 0.4s ease, background-color 0.5s ease;
}

.pizzas-grid-item.disabled {
  opacity: 0.15;
  background-color: #95999c;
  pointer-events: none;
}

.pizzas-grid-item-title {
  display: block;
  font-weight: 600;
  margin-top: 10px;
  font-size: 1.2rem;
  color: black;
  padding: 12px;
}

.pizzas-grid-item-status {
  font-weight: 800;
  border: 1px dashed #fff;
  padding: 4px 16px 4px 16px;
  opacity: 0.7;
  color: black;
  background-color: #f0f0f0;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.pizzas-grid-item-status.not-paid {
  background-color: #ffe374 !important;
}

.pizzas-grid-item-status.paid {
  background-color: #00903a !important;
}

.pizzas-grid-item-status.refund-failed {
  background-color: #ff0000 !important;
}

.pizzas-grid-item-amount {
  font-size: 1.2rem;
  margin-left: 4px;
}

.pizzas-grid-item-original-amount {
  margin-left: 4px;
  color: darkorange;
}

.pizzas-grid-item-other {
  font-weight: 400 !important;
  font-size: 1rem;
  color: black;
}

.pizzas-grid-item-original-currency-amount {
  text-decoration: line-through;
  text-decoration-color: black;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  color: darkorange;
}

.pizzas-grid-item-currency-amount {
  display: flex;
  align-items: center;
  background-color: #ffeba9;
  border-radius: 16px;
  border: 2px dotted #fff;
  padding: 16px 24px 0px 24px;
  margin: 0px 8px 8px 8px;
  color: black;
}

/* Pizzas-grid end */

/* Info-grid start */
.info-grid-list {
  padding: 4px;
}

.info-grid {
  text-align: left;
  display: grid;
  padding: 20px;
  background: #e6e9e9;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.info-grid-item {
  display: block;
  list-style: none;
}

.info-grid-item-title {
  font-weight: 600;
  font-size: 1rem;
}

.info-grid-item-description {
  font-weight: 600;
  color: #687282;
  font-size: 1rem;
}

/* Info-grid end */



/* `Card Acquisition request` button start */

#card-acquisition-request-form {
  font-weight: 600;
}

.card-acquisition-request-button {
  background-color: #0abf53;
  color: white;
  padding: 8px 64px 8px 64px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  transition: transform 0.15s ease-in-out, background-color 0.3s ease-in-out;
  width: 100%;
  height: 50%;
}

.card-acquisition-request-button:hover {
  background-color: #0abf53;
  border: none;
  transform: scale(1.04);
}

.card-acquisition-request-button:focus {
  outline: none;
}

.card-acquisition-request-button:disabled,
.card-acquisition-request-button[disabled=disabled],
.card-acquisition-request-button.disabled {
  background-color: #cccccc;
  color: #999999;
  pointer-events: none;
}

/* Card Acquisition request button end */

/* Loyalty Status button start */
.loyalty-button {
  background-color: #0abf53;
  color: white;
  padding: 8px 64px 8px 64px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  transition: transform 0.15s ease-in-out, background-color 0.3s ease-in-out;
  width: 100%;
  height: 50%;
}

.loyalty-button:hover {
  background-color: #0abf53;
  border: none;
  transform: scale(1.04);
}

.loyalty-button:focus {
  outline: none;
}

.loyalty-button:disabled,
.loyalty-button[disabled=disabled],
.loyalty-button.disabled {
  background-color: #cccccc;
  color: #999999;
  pointer-events: none;
}

/* Loyalty Status button end */


/* Signup-only-button start */
.signup-only-button {
  background-color: #0abf53;
  color: white;
  padding: 8px 64px 8px 64px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  transition: transform 0.15s ease-in-out, background-color 0.3s ease-in-out;
}

.signup-only-button:hover {
  background-color: #0abf53;
  border: none;
  transform: scale(1.02);
}

.signup-only-button:focus {
  outline: none;
}

.signup-only-button:disabled,
.signup-only-button[disabled=disabled],
.signup-only-button.disabled {
  background-color: #cccccc;
  color: #999999;
  pointer-events: none;
}

/* Signup-only-button end */

/* Payment page */

#payment-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#payment-page .container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
  padding-left: 8px;
  padding-right: 8px;
}

.checkout-component {
  background: #f7f8f9;
  border: 1px solid #e6e9eb;
  border-radius: 12px;
  margin: 8px 0;
}


/* Status page */

.status-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  margin: 100px 0 126px;
  text-align: center;
}

.status .status-image {
  display: block;
  height: 100px;
  margin: 32px auto 32px auto;
  padding: 8px;
}

.status .status-image-thank-you {
  height: 66px;
}

.status .status-message {
  margin: 8px 0 24px;
  width: 1200px;
  font-family: monospace;
  text-align: left;
  white-space: pre-wrap;
  overflow: scroll;
  padding: 16px;
  border: 1px solid #ccc;
}

.status .status-message-generic {
  margin: 16px 0 24px;
}

.status .button {
  max-width: 236px;
}

@media (min-width: 768px) {
  .status .button {
    max-width: 200px;
  }
}

/* end Status page */

/* Loading grid start */

.loading-grid {
  text-align: center;
  display: block;
  padding: 16px 8px 8px 8px;
  background: #fff7ea;
  border-radius: 8px;
  transition: opacity 0.4s ease-in;
  height: 100%;
  width: 100%;
}

.loading-grid.disabled {
  opacity: 0;  /* Reduce opacity */
  pointer-events: none; /* Disable pointer events on elements */
  height: 0;
}

.loading-description {
  font-weight: 700;
  color: #0abf53;
  margin: 8px 0px 8px 0px;
}

/* Loading grid end */

/* Cancel operation button start */
.cancel-operation-button {
  background-color: #0abf53;
  color: white;
  padding: 6px 16px 6px 16px;
  margin: 8px 0px 8px 0px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #0abf53;
  border-radius: 16px;
  transition: background-color 0.3s, transform 0.15s;
}

.cancel-operation-button:hover {
  background-color: #00bb4b;
  transform: scale(1.04);
  border-radius: 16px;
}

/* Cancel operation button end */

/* Loading animation start */

.loading-animation {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-animation div {
  animation: loading-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.loading-animation div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #0abf53;
  margin: -4px 0 0 -4px;
}

.loading-animation div:nth-child(1) {
  animation-delay: -0.036s;
}

.loading-animation div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.loading-animation div:nth-child(2) {
  animation-delay: -0.072s;
}

.loading-animation div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.loading-animation div:nth-child(3) {
  animation-delay: -0.108s;
}

.loading-animation div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.loading-animation div:nth-child(4) {
  animation-delay: -0.144s;
}

.loading-animation div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.loading-animation div:nth-child(5) {
  animation-delay: -0.18s;
}

.loading-animation div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.loading-animation div:nth-child(6) {
  animation-delay: -0.216s;
}

.loading-animation div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.loading-animation div:nth-child(7) {
  animation-delay: -0.252s;
}

.loading-animation div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.loading-animation div:nth-child(8) {
  animation-delay: -0.288s;
}

.loading-animation div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loading bar end */

/* start Navigation bar menu */

.navMenu {
  position: sticky;
  overflow: hidden;
  z-index: 9999;
  top: 0;
}

.navMenu a {
  padding: 4px 0px 4px 32px;
  text-align: center;
  color: #0abf53;
  text-decoration: none;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.navMenu a:hover {
  color: #00112c;
}

/* end Navigation bar menu */

/* Transaction Status button start */
.transaction-status-button {
  font-weight: 700;
  border: 2px solid #0abf53;
  border-radius: 8px;
  padding: 6px 8px;
  margin-left: 8px;
}

.transaction-status-button:hover {
  border: 2px solid #00bf53;
}

/* Transaction Status button end */

.highlight {
  color: #0abf53;
  margin-left: 32px;
}