@{
    ViewData["Title"] = @ViewBag.Status;
}

<div class="status-container">
  <div class="status">
    @{ 
          var svgImg = ViewBag.Img + ".svg";
    }
    <img src="~/images/@svgImg" class="status-image" alt="@ViewBag.Img" />

    <p class="status-message">@ViewBag.Msg</p>
    @if (ViewBag.Status == "error")
    {
        <p class="status-message">
            Please review response in console and refer to
            <a href="https://docs.adyen.com/development-resources/refusal-reasons">refusal reasons.</a>
        </p>
    }
    <a class="button" href="/admin" to="#/">Return to Admin Panel</a>
  </div>
</div>
