@{
    ViewData["Title"] = "Result page: when a payment request is made using a token";
}

<div class="status-container">
  <div class="status">
    <p class="status-message">@ViewBag.Message</p>
    <a class="button" href="/managetokens">Return to Manage Tokens</a>
  </div>
</div>
