@{
    ViewData["Title"] = "Redirecting from gift card component...";
}

@* Hidden divs with data passed from the server *@
<div id="clientKey" class="hidden">@ViewBag.ClientKey</div>

@* Adyen Component client code *@
<script src="~/js/adyenGiftcardImplementation.js" asp-append-version="true"></script>
