name: E2E Testing Suite (Playwright)

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/readme.md'
      - readme.md
      - .gitignore
      - .gitpod.yml
      - LICENSE
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**/readme.md'
      - readme.md
      - .gitignore
      - .gitpod.yml
      - LICENSE

jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
      - name: Build checkout-example image
        run: docker build -t checkout-example-image:latest checkout-example
      - name: Start checkout-example container
        run: docker run --rm -d --name checkout-example-image -p 8080:80 -e ADYEN_API_KEY="${{ secrets.ADYEN_API_KEY }}" -e ADYEN_MERCHANT_ACCOUNT=${{ secrets.ADYEN_MERCHANT_ACCOUNT }} -e ADYEN_CLIENT_KEY=${{ secrets.ADYEN_CLIENT_KEY }} -e ADYEN_HMAC_KEY=${{ secrets.ADYEN_HMAC_KEY }} checkout-example-image:latest
      - name: Run testing suite against checkout-example-image
        run: docker run --rm --name adyen-testing-suite -e ADYEN_HMAC_KEY=${{ secrets.ADYEN_HMAC_KEY }} -e PLAYWRIGHT_FOLDERNAME=checkout --network host ghcr.io/adyen-examples/adyen-testing-suite:main

  checkout-advanced:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Advanced project
        uses: actions/checkout@v4
      - name: Build checkout-example-advanced image
        run: docker build -t checkout-example-advanced-image:latest checkout-example-advanced
      - name: Start checkout-example-advanced container
        run: docker run --rm -d --name checkout-example-advanced-image -p 8080:80 -e ADYEN_API_KEY="${{ secrets.ADYEN_API_KEY }}" -e ADYEN_MERCHANT_ACCOUNT=${{ secrets.ADYEN_MERCHANT_ACCOUNT }} -e ADYEN_CLIENT_KEY=${{ secrets.ADYEN_CLIENT_KEY }} -e ADYEN_HMAC_KEY=${{ secrets.ADYEN_HMAC_KEY }} checkout-example-advanced-image:latest
      - name: Run testing suite against checkout-example-advanced-image
        run: docker run --rm --name adyen-testing-suite -e ADYEN_HMAC_KEY=${{ secrets.ADYEN_HMAC_KEY }} -e PLAYWRIGHT_FOLDERNAME=advanced-checkout --network host ghcr.io/adyen-examples/adyen-testing-suite:main

  subscription:
    runs-on: ubuntu-latest
    steps:
      - name: Subscription project
        uses: actions/checkout@v4
      - name: Build subscription-example image
        run: docker build -t subscription-example-image:latest subscription-example
      - name: Start subscription-example container
        run: docker run --rm -d --name subscription-example-image -p 8080:80 -e ADYEN_API_KEY="${{ secrets.ADYEN_API_KEY }}" -e ADYEN_MERCHANT_ACCOUNT=${{ secrets.ADYEN_MERCHANT_ACCOUNT }} -e ADYEN_CLIENT_KEY=${{ secrets.ADYEN_CLIENT_KEY }} -e ADYEN_HMAC_KEY=${{ secrets.ADYEN_HMAC_KEY }} subscription-example-image:latest
      - name: Run testing suite against subscription-example-image
        run: docker run --rm --name adyen-testing-suite -e ADYEN_HMAC_KEY=${{ secrets.ADYEN_HMAC_KEY }} -e PLAYWRIGHT_FOLDERNAME=subscription --network host ghcr.io/adyen-examples/adyen-testing-suite:main
  
  giftcard:
    runs-on: ubuntu-latest
    steps:
      - name: Gift card project
        uses: actions/checkout@v4
      - name: Build giftcard-example image
        run: docker build -t giftcard-example-image:latest giftcard-example
      - name: Start giftcard-example container
        run: docker run --rm -d --name giftcard-example-image -p 8080:80 -e ADYEN_API_KEY="${{ secrets.ADYEN_API_KEY }}" -e ADYEN_MERCHANT_ACCOUNT=${{ secrets.ADYEN_MERCHANT_ACCOUNT }} -e ADYEN_CLIENT_KEY=${{ secrets.ADYEN_CLIENT_KEY }} -e ADYEN_HMAC_KEY=${{ secrets.ADYEN_HMAC_KEY }} giftcard-example-image:latest
      - name: Run testing suite against giftcard-example-image
        run: docker run --rm --name adyen-testing-suite -e ADYEN_HMAC_KEY=${{ secrets.ADYEN_HMAC_KEY }} -e PLAYWRIGHT_FOLDERNAME=giftcard --network host ghcr.io/adyen-examples/adyen-testing-suite:main

  paybylink:
    runs-on: ubuntu-latest
    steps:
      - name: Pay By Link project
        uses: actions/checkout@v4
      - name: Build paybylink-example image
        run: docker build -t paybylink-example-image:latest paybylink-example
      - name: Start paybylink-example container
        run: docker run --rm -d --name paybylink-example-image -p 8080:80 -e ADYEN_API_KEY="${{ secrets.ADYEN_API_KEY }}" -e ADYEN_MERCHANT_ACCOUNT=${{ secrets.ADYEN_MERCHANT_ACCOUNT }} -e ADYEN_HMAC_KEY=${{ secrets.ADYEN_HMAC_KEY }} paybylink-example-image:latest
      - name: Run testing suite against paybylink-example-image
        run: docker run --rm --name adyen-testing-suite -e ADYEN_HMAC_KEY=${{ secrets.ADYEN_HMAC_KEY }} -e PLAYWRIGHT_FOLDERNAME=paybylink --network host ghcr.io/adyen-examples/adyen-testing-suite:main

  authorisation-adjustment:
    runs-on: ubuntu-latest
    steps:
      - name: Authorisation Adjustment project
        uses: actions/checkout@v4
      - name: Build authorisation-adjustment-example image
        run: docker build -t authorisation-adjustment-example-image:latest authorisation-adjustment-example
      - name: Start authorisation-adjustment-example container
        run: docker run --rm -d --name authorisation-adjustment-example-image -p 8080:80 -e ADYEN_API_KEY="${{ secrets.ADYEN_API_KEY }}" -e ADYEN_MERCHANT_ACCOUNT=${{ secrets.ADYEN_MERCHANT_ACCOUNT }} -e ADYEN_CLIENT_KEY=${{ secrets.ADYEN_CLIENT_KEY }} -e ADYEN_HMAC_KEY=${{ secrets.ADYEN_HMAC_KEY }} authorisation-adjustment-example-image:latest
      - name: Run testing suite against authorisation-adjustment-example-image
        run: docker run --rm --name adyen-testing-suite -e ADYEN_HMAC_KEY=${{ secrets.ADYEN_HMAC_KEY }} -e PLAYWRIGHT_FOLDERNAME=authorisation-adjustment --network host ghcr.io/adyen-examples/adyen-testing-suite:main

  giving:
    runs-on: ubuntu-latest
    steps:
      - name: Giving project
        uses: actions/checkout@v4
      - name: Build giving-example image
        run: docker build -t giving-example-image:latest giving-example
      - name: Start giving-example container
        run: docker run --rm -d --name giving-example-image -p 8080:80 -e ADYEN_API_KEY="${{ secrets.ADYEN_API_KEY }}" -e ADYEN_MERCHANT_ACCOUNT=${{ secrets.ADYEN_MERCHANT_ACCOUNT }} -e ADYEN_CLIENT_KEY=${{ secrets.ADYEN_CLIENT_KEY }} -e ADYEN_HMAC_KEY=${{ secrets.ADYEN_HMAC_KEY }} giving-example-image:latest
      - name: Run testing suite against giving-example-image
        run: docker run --rm --name adyen-testing-suite -e ADYEN_HMAC_KEY=${{ secrets.ADYEN_HMAC_KEY }} -e PLAYWRIGHT_FOLDERNAME=giving --network host ghcr.io/adyen-examples/adyen-testing-suite:main

  in-person-payments:
    runs-on: ubuntu-latest
    steps:
      - name: In-person Payments project
        uses: actions/checkout@v4
      - name: Build in-person-payments-example image
        run: docker build -t in-person-payments-example-image:latest in-person-payments-example
      - name: Start in-person-payments-example container and use `http://localhost:3000` as the Terminal API Cloud endpoint
        run: docker run --rm -d --name in-person-payments-example-image -p 8080:80 -e ADYEN_TERMINAL_API_CLOUD_ENDPOINT="http://localhost:3000" -e ADYEN_API_KEY="${{ secrets.ADYEN_API_KEY }}" -e ADYEN_MERCHANT_ACCOUNT=${{ secrets.ADYEN_MERCHANT_ACCOUNT }} -e ADYEN_CLIENT_KEY=${{ secrets.ADYEN_CLIENT_KEY }} -e ADYEN_HMAC_KEY=${{ secrets.ADYEN_HMAC_KEY }} in-person-payments-example-image:latest
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull Docker image
        run: docker pull ghcr.io/adyen-examples/adyen-mock-terminal-api:main
      - name: Start Adyen Mock Terminal API application on `http://localhost:3000`
        run: docker run --rm -d --name adyen-mock-terminal-api -p 3000:3000 -e PORT=3000 --network host ghcr.io/adyen-examples/adyen-mock-terminal-api:main
      - name: Run testing suite against in-person-payments-example-image
        run: docker run --rm --name adyen-testing-suite -e ADYEN_HMAC_KEY=${{ secrets.ADYEN_HMAC_KEY }} -e PLAYWRIGHT_FOLDERNAME=in-person-payments --network host ghcr.io/adyen-examples/adyen-testing-suite:main
